.header{
    position: sticky;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    background-color: var(--scend-color);
    align-items: center;
    padding: 0 20px;
    color: #fff;
    z-index: 111;
    /* right: 0; */
    justify-content: space-between;
}
.header h2{
    color: var(--logo-color);
}
.menu-open svg{
    cursor: pointer;
    font-size: 35px;
    color: var(--text-color);
}
.header input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--icon-color);
    padding: 10px 0;
    width: 200px;
    outline: none;
    display: none;
    color: #fff;
}
.header-box {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: right;
}
.header-box .toggle-mode{width: 55px;}
.header-box span.noti{
    margin-right: 35px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    color: var(--icon-color);
    display: none;
}
.header-box span.noti::before{
    position: absolute;
    top: 7px;
    left: 7px;
    content: '';
    width: 7px;
    height: 7px;
    background-color: var(--logo-color);
    border-radius: 50%;

}
.header-box img {
    width: 30px;
    border-radius: 9px;
    cursor: pointer;
    display: none;
}

.header-box span.admin-name {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 20px;
    color: var(--icon-color);
    cursor: pointer;
    display: none;
}
span.lang {
    cursor: pointer;
}

@media (min-width: 576px) {
    .header h2{
        margin:0 55px;
    }
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .header-box span.admin-name,.header-box span.noti ,.header-box img {display: flex;}
    .header-box{ flex: 3; width: 300px;}
    .header-box span.dark-span{
        margin-right: 25px;
    }
    .header-box .toggle-mode{    margin-right: 20px;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .header input{
        display: block;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
}