.aside{
    background-color: var(--scend-color);
    position: fixed;
    top: 70px;
    display: flex;
    flex-direction: column;
    height:calc(100vh - 70px);
    overflow: hidden;
    transition: 0.3s width ease-in-out;
    width: 0;
    padding: 35px 0;
    padding-left: 10px;
    z-index: 11;
    left: -10px;
}
.aside.active{
    width: 250px;
}
.aside .logo{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    color: var(--logo-color);

}
.aside .logo svg{
    margin: 25px;
    font-size: 25px;
}
.aside .logo h2{
    padding-left: 30px;
}
.aside .minu-icon-name {
    position: relative;
    display: flex;
    width: 100%;
    color: var(--icon-color);
    align-items: center;
    cursor: pointer;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    transition: 0.3s color ease-in-out;

}
.aside .minu-icon-name.active::before{
    position: absolute;
    top: -50px;
    right: 0;
    content: '';
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--bg-color);
    pointer-events: none;
}
.aside .minu-icon-name.active::after{
    position: absolute;
    bottom: -50px;
    right: 0;
    content: '';
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--bg-color);
    pointer-events: none;
}
.aside .minu-icon-name.active{
    background-color: var(--bg-color);
    color: var(--logo-color);
}
.aside .minu-icon-name:hover{
    color: var(--logo-color);
}
.aside .minu-icon-name .aside-icon{
    padding: 20px;
}
.aside .minu-icon-name .aside-icon svg{    font-size: 25px;
}

.aside .minu-icon-name span.icon-span {
    font-size: 19px;
    padding-right: 20px;
    padding-left: 30px;
}

.open-minu {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    color: var(--icon-color);
    margin: auto;
    transform: rotate(180deg);
    transition: 0.3s ease-in-out;
}
.open-minu.active{
    transform: rotate(0deg);
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .aside{
        width: 90px;
        position: sticky;
        left: 0;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .aside{
        width: 90px;
    }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
}